services:
  db:
    image: postgres
    restart: always
    environment:
      - POSTGRES_PASSWORD=postgres
    container_name: postgres
    volumes:
      - /Users/arthurpinheiro/Documents/repos/my-outfit/pgdata:/var/lib/postgresql/18/docker
    ports:
      - '5432:5432'

  # app:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   container_name: myoutfit-docker-postgres
  #   environment:
  #     - PORT=${PORT}
  #   ports:
  #     - '3000:3000'
  #   depends_on:
  #     - db
  #   volumes:
  #     - ./src:/app/src

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    container_name: myoutfit-pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=myoutfit
    ports:
      - '5050:80'
    depends_on:
      - db